<div [style.display]="isMainPlayerVisible ? 'none' : ''">
    <router-outlet></router-outlet>
    
    <div class="fixed bottom-0">
        <pc-mini-player *ngIf="currentEpisode" class="max-w-screen" (miniPlayerClick)="showMainPlayer()" [currentAudio]="currentEpisode"></pc-mini-player>
        <pc-bottom-nav class="w-screen"></pc-bottom-nav>
    </div>
</div>
<aside class="w-screen h-screen" [class]="mainPlayerClass">
    <pc-main-player class="absolute top-0 z-10" [currentEpisode]="currentEpisode"></pc-main-player>
</aside>