<div class="min-h-screen w-screen">
    <section *ngIf="feedDetails" class="p-4 prose dark:prose-invert">
        <div class="h-2/5 flex flex-row">
            <div>
                <img [src]="feedDetails.image" alt="" class="w-12 h-12 object-contain">
            </div>
            <div class="ml-4 flex flex-col justify-center">
                <h1 class="text-2xl font-bold mb-0">{{feedDetails.title}}</h1>
                <div>{{feedDetails.author}}</div>
            </div>
        </div>
        <div>
            <p>{{feedDetails.description}}</p>
        </div>
    </section>
    <section class="px-4">
        <h2 class="m-2 prose dark:prose-invert text-2xl font-bold">All Episodes</h2>
        <ul class="p-2">
            <li *ngFor="let episode of episodeItems; trackBy: trackById" class="py-4 border-b-2 border-gray-500">
                <pc-episode-list [episode]="episode" [author]="feedDetails.author" [feedTitle]="feedDetails.title"></pc-episode-list>
            </li>
        </ul>
    </section>
</div>